.blind{
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}
button{
    background: inherit; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
}



#skip_navigation{position: relative; z-index: 9999;}
#skip_navigation a{
    position: absolute; 
    top: -200px;
    left: 0;
    width: 100%;
    line-height: 30px;
    /* border: 1px solid #000; */
    background: #222;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    padding: 15px;
}
#skip_navigation a:focus,
#skip_navigation a:active{
    top: 0;
}
